# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @livgust
*       @adpjay
*       @bernfarr
*       @dragthemagicpuffin
*       @harcod
*       @j256
*       @johnhawkinson
*       @Kathleen-Francis
*       @linusmarco
*       @MattRC7
*       @tkjones117
*       @zpeyton
